$main-color-1: #ffffff; /*body-bkg, footter-text, orange-btns-text, computer-text, numbers-cta-text & btn, footer text*/
$main-color-2: #000000; /*intro p, our-company p, creativity p, numbers text */
$main-color-3: #f26522; /*active-class, orange-btns-bkg, creativity-header*/
$main-color-4: #414042; /*read-more-btns, header-qoutes*/
$main-color-5: #7799bb; /*header-top-bkg, computer-screen*/ 
$main-nav-color: #24242b; /*main-navigation-color*/
$heading-color-1: #262d40; /*intro-header, our-company-header, history-header*/
$hamburger-shadow-color: #CBCDCF;


/* INTRO ARTICLE & SLIDER COLORS */
$intro-bkg-color: #f6d3c3; /* Intro background color */
$intro-try-now-btn: #779bc8; /*intro cta btn color*/
$slider-dots-color: #eda786; /*slider dots color*/
/* INTRO ARTICLE & SLIDER COLORS END */


/*OUR WORK ARTICLE COLORS */
$work-heading-color: #32325d; /*work article heading color*/ 
$work-heading-span-color: #8a5b9d; /* Our work header span purple  */
$work-text-color: #525f7f; /*our work <p> text color*/
$circles-heading-color: #242f51; /*circles heading color*/
$circles-text-color: #616368; /* circles text color*/
$work-circle-color-1: #eaf9ff; /*Megaphone circle bkg color*/
$work-circle-color-2: #aedbf0; /*Search circle bkg color*/
/*OUR WORK ARTICLE COLORS END */


/* OUR HISTORY ARTICLE COLORS */
$history-text-color: #0d111b; /* our-history <p> color*/
/* OUR HISTORY ARTICLE COLORS */


/* COMPUTER ARTICLE COLORS */
$computer-heading-color: #452a31; /*offer header color*/
$computer-heading-span-color: #006699; /*What we offer span blue*/
$computer-quote-handheld-color: #333333; /* computer quote text color for mobile*/
/* COMPUTER ARTICLE COLORS END */


/* NUMBERS ARTICLE COLORS */
$numbers-bkg: #e8c7a6; /* Numbers bkg color*/
$cta-btn-color: #36a2f4; /*numbers cta btn text color*/
$cta-bkg: #f5b490; /* numbers cta bkg color*/
/* NUMBERS ARTICLE COLORS END */


/* INPUT CTA ARTICLE COLORS */
$demo-text-color: #212240; /* ready-to-start-text-color*/
$demo-bkg: #fafaff; /* ready-to-start-bkg-color */
$demo-input-bkg-color: #e4e4de; /*email input bgk color*/
$demo-input-placeholder-color: #8081ab; /*input placeholder text color*/
$demo-input-submit-cta-btn: #5b5975; /* input cta btn*/
/* INPUT CTA ARTICLE COLORS */


/* FOOTER COLORS */
$footer-bottom-bkg: #acacac; /*Footer bottom background */
/* FOOTER COLORS END */


